name: Test file (Required to fail or complete successfully)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        repository: "Sirherobrine23/APT_bysh23"

    - uses: Sirherobrine23/apt-pages-repo-actions@main
      with:
        KEY_ID: '908144B521689A950CCB5E801347937B188623BC'
        URL_REPO: 'https://sirherobrine23.github.io/apt-pages-repo-actions'
        PASS: "${{ secrets.PASSWORD }}"
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.7.0-8
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: aptly/public/