name: Test file (Required to fail or complete successfully)
on: [push]

jobs:
  Debian:
    runs-on: ubuntu-latest
    name: Debian Test
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        repository: "Sirherobrine23/APT_bysh23"

    - uses: Sirherobrine23/apt-pages-repo-actions@main
      with:
        PASS: "${{ secrets.PASSWORD }}"
    - name: List
      run: find aptly/public/

  Temux:
    runs-on: ubuntu-latest
    name: Termux Test
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        repository: "Sirherobrine23/APT_bysh23"

    - uses: Sirherobrine23/apt-pages-repo-actions@main
      with:
        PASS: "${{ secrets.PASSWORD }}"
        STYLE: "termux"
    - name: List
      run: find aptly/public/
